.cdx-qa-icon svg {
  transform: rotate(180deg);
}

.cdx-qa {
  margin: 0;
}

.cdx-qa__text {
  min-height: 108px;
  margin-bottom: 10px;
}

.cdx-qa__caption {
  margin-bottom: 5px;
}

.cdx-qa [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-qa [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-qa [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-qa-question-row, .cdx-qa-answer-row {
}
